<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
  rel="stylesheet"
/>

<div class="border rounded-lg p-4">
  <div class="flex justify-between gap-6">
    <div>
      <img
        src="{{ BASE_URL }}/assets/{{ user.picturePath }}"
        class="w-20 h-17 rounded-full object-cover"
        alt="User Image"
      />
    </div>
    <div class="w-full">
      <input
        class="w-full bg-neutral-light rounded-full p-4"
        type="text"
        placeholder="What's on your mind..."
        [(ngModel)]="description"
        name="description"
      />
    </div>
  </div>
  <div *ngIf="showDropbox" class="mt-4 border rounded-md border-medium p-4">
    <ngx-dropzone [multiple]="false" (change)="setImage($event.addedFiles[0])">
      <div class="flex justify-between">
        <div
          ngxDropzonePreview
          class="w-full cursor-pointer border-dashed border-primary-main rounded-md p-4"
        >
          <ng-container>
            <div *ngIf="!file" class="flex justify-between">
              <p>Add Image Here</p>
            </div>
          </ng-container>
          <ng-container>
            <div *ngIf="file" class="flex justify-between">
              <p>{{ file.name }}</p>
              <i
                class="material-icons-outlined text-primary-main text-xl"
                (click)="resetFileInput()"
                >delete_outline</i
              >
            </div>
          </ng-container>
          <input
            ngxDropzoneInput
            type="file"
            [style.display]="'none'"
            [accept]="'.jpg,.jpeg,.png'"
          />
        </div>
      </div>
    </ngx-dropzone>
  </div>
  <hr class="my-5" />
  <div class="flex justify-between items-center">
    <div
      class="flex justify-between gap-2 cursor-pointer"
      (click)="showDropbox = !showDropbox"
    >
      <i class="material-icons-outlined text-primary-main text-xl">image</i>
      <span class="text-medium-main hover:text-medium cursor-pointer"
        >Image</span
      >
    </div>

    <div class="flex justify-between gap-2">
      <i class="material-icons-outlined text-primary-main text-xl">gif_box</i>
      <span class="text-medium-main">Clip</span>
    </div>
    <div class="flex justify-between gap-2">
      <i class="material-icons-outlined text-primary-main text-xl"
        >attach_file</i
      >
      <span class="text-medium-main">Attachment</span>
    </div>
    <div class="flex justify-between gap-2">
      <i class="material-icons-outlined text-primary-main text-xl">mic</i>
      <span class="text-medium-main">Audio</span>
    </div>

    <button
      class="px-6 py-2 rounded-full bg-primary-main border-2 border-primary-main text-background-alt text-lg font-bold hover:bg-blue-300 hover:border-blue-300 transition-colors duration-200 ease-in-out"
      (click)="handlePost()"
    >
      POST
    </button>
  </div>
</div>
