<div class="flex flex-col border border-gray-300 shadow rounded-lg p-4 space-y-4 mb-5">
    <div class="flex justify-between text-gray-800 font-medium">
      <h5>Sponsored</h5>
      <p>Create Ad</p>
    </div>
    <img class="w-full rounded-lg mt-3" alt="Advert" src="https://www.openscreen.com/images/solutions/os-create-header.jpg" style="height: auto;">
    <div class="flex justify-between mt-3">
      <p class="text-blue-500 font-medium">OpenScreen</p>
      <p class="text-gray-500">openscreen.com</p>
    </div>
    <p class="text-gray-500 mt-2">
      Openscreen transforms supply chain, e-commerce, and customer engagement processes with end-to-end QR Code enabled solutions.
    </p>
  </div>
  