<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
  rel="stylesheet"
/>

<div class="border border-gray-300 shadow rounded-lg p-4 space-y-4">
  <!-- First Row -->
  <div
    class="flex items-center justify-between pb-3 cursor-pointer"
    (click)="viewProfile()"
  >
    <div class="flex items-center space-x-3">
      <img
        class="w-20 h-20 rounded-full object-cover"
        src="{{BASE_URL}}/assets/{{user.picturePath}}"
        alt="user"
      />
      <div>
        <h4
          class="text-lg font-semibold text-gray-700 hover:text-primary-light"
        >
          {{ user.firstName }} {{ user.lastName }}
        </h4>
        <p class="text-gray-500">{{ user.friends.length }} friends</p>
      </div>
    </div>
    <i class="material-icons-outlined text-gray-500">manage_accounts</i>
  </div>

  <hr class="border-gray-300" />

  <!-- SECOND ROW -->
  <div class="py-4">
    <div class="flex items-center space-x-4 mb-2">
      <i class="material-icons-outlined text-primary-main text-xl"
        >location_on</i
      >
      <p class="text-gray-500">{{ user.location }}</p>
    </div>
    <div class="flex items-center space-x-4">
      <i class="material-icons-outlined text-primary-main text-xl"
        >work_outline</i
      >
      <p class="text-gray-500">{{ user.occupation }}</p>
    </div>
  </div>

  <hr class="border-gray-300" />

  <!-- THIRD ROW -->
  <div class="p-4">
    <div class="flex items-center justify-between mb-2">
      <p class="text-gray-500">Who's viewed your profile</p>
      <p class="text-primary-main font-semibold">
        {{ user.viewedProfile }}
      </p>
    </div>
    <div class="flex items-center justify-between">
      <p class="text-gray-500">Impressions of your post</p>
      <p class="text-primary-main font-semibold">{{ user.impressions }}</p>
    </div>
  </div>

  <hr class="border-gray-300" />

  <!-- FOURTH ROW -->
  <div class="p-4">
    <p class="text-primary-main font-semibold mb-4">Social Profiles</p>

    <div class="flex items-center justify-between mb-2">
      <div class="flex items-center space-x-3">
        <img src="assets/twitter.png" alt="twitter" />
        <div>
          <p class="text-primary-main font-semibold">Twitter</p>
          <p class="text-gray-500">Social Network</p>
        </div>
      </div>
      <i class="material-icons-outlined text-primary-main text-xl">edit</i>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <img src="assets/linkedin.png" />
        <div>
          <p class="text-primary-main font-semibold">Twitter</p>
          <p class="text-gray-500">Social Network</p>
        </div>
      </div>
      <i class="material-icons-outlined text-primary-main text-xl">edit</i>
    </div>
  </div>
</div>
