<div class="border border-gray-300 shadow rounded-lg p-4 space-y-4">
  <!-- First Row -->
  <!-- <div
    class="flex items-center justify-between pb-3 cursor-pointer"
    (click)="viewProfile()"
  >
    <div class="flex items-center space-x-3">
      <app-user-image [image]="picturePath"></app-user-image>
      <div>
        <h4
          class="text-lg font-semibold text-gray-700 hover:text-primary-light"
        >
          {{ user.firstName }} {{ user.lastName }}
        </h4>
        <p class="text-gray-500">{{ user.friends?.length }} friends</p>
      </div>
    </div>
    <i class="material-icons-outlined text-gray-500">manage_accounts</i>
  </div>

  <hr class="border-gray-300" /> -->

  <!-- SECOND ROW -->
  <!-- <div class="py-4">
    <div class="flex items-center space-x-4 mb-2">
      <i class="material-icons-outlined text-primary-main text-xl"
        >location_on</i
      >
      <p class="text-gray-500">{{ user.location }}</p>
    </div>
    <div class="flex items-center space-x-4">
      <i class="material-icons-outlined text-primary-main text-xl"
        >work_outline</i
      >
      <p class="text-gray-500">{{ user.occupation }}</p>
    </div>
  </div>

  <hr class="border-gray-300" /> -->
</div>
