<nav class="bg-[#00D5FA]">
    <ul class="flex justify-between px-4 py-3">
      <li>
        <a href="/" class="text-white font-bold">Home</a>
      </li>
      <li>
        <a href="/login" class="text-white hover:text-gray-300">Login</a>
      </li>
      <li>
        <a href="/register" class="text-white hover:text-gray-300">Register</a>
      </li>
      <li>
        <a href="/profile" class="text-white hover:text-gray-300">Profile</a>
      </li>
      <li>
        <a href="/chat" class="text-white hover:text-gray-300">Chat</a>
      </li>
    </ul>
</nav>
  
  