<nav class="bg-[#00D5FA]">
    <ul class="flex justify-between px-4 py-3">
      <li>
        <a routerLink="/" class="text-white font-bold">Login</a>
      </li>
      <li>
        <a routerLink="/home" class="text-white hover:text-gray-300">Home</a>
      </li>
      <li>
        <a routerLink="/register" class="text-white hover:text-gray-300">Register</a>
      </li>
      <li>
        <a routerLink="/profile" class="text-white hover:text-gray-300">Profile</a>
      </li>
      <li>
        <a routerLink="/chat" class="text-white hover:text-gray-300">Chat</a>
      </li>
    </ul>
</nav>
  
  